<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Log Overnight Sleep</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log Sleep</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon [icon]="addOutline" class="ion-margin-end"></ion-icon>
          When did you go to bed?
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Date</ion-label>
          <ion-datetime 
            [(ngModel)]="sleepStartDate"
            presentation="date"
            max="today">
          </ion-datetime>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Time</ion-label>
          <ion-datetime 
            [(ngModel)]="sleepStartTime"
            presentation="time">
          </ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon [icon]="addOutline" class="ion-margin-end"></ion-icon>
          When did you wake up?
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Date</ion-label>
          <ion-datetime 
            [(ngModel)]="sleepEndDate"
            presentation="date"
            max="today">
          </ion-datetime>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Time</ion-label>
          <ion-datetime 
            [(ngModel)]="sleepEndTime"
            presentation="time">
          </ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-button 
      expand="block" 
      size="large" 
      (click)="logSleep()"
      class="ion-margin-top">
      <ion-icon [icon]="addOutline" slot="start"></ion-icon>
      Log Sleep
    </ion-button>

    <ion-alert
      [isOpen]="showAlert"
      header="Sleep Logging"
      [message]="alertMessage"
      [buttons]="['OK']"
      (didDismiss)="dismissAlert()">
    </ion-alert>
  </div>
</ion-content>
