<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Log Sleepiness Level</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Log Sleepiness</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <!-- Date and Time Selection -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon [icon]="sunnyOutline" class="ion-margin-end"></ion-icon>
          When are you logging this?
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-label position="stacked">Date</ion-label>
          <ion-datetime 
            [(ngModel)]="sleepinessDate"
            presentation="date"
            max="today">
          </ion-datetime>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">Time</ion-label>
          <ion-datetime 
            [(ngModel)]="sleepinessTime"
            presentation="time">
          </ion-datetime>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <!-- Stanford Sleepiness Scale -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-icon [icon]="sunnyOutline" class="ion-margin-end"></ion-icon>
          How sleepy do you feel?
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-radio-group [(ngModel)]="selectedSleepinessLevel">
          <ion-list>
            <ion-item *ngFor="let level of sleepinessScale">
              <ion-radio 
                [value]="level.value" 
                [color]="getLevelColor(level.value)"
                class="ion-margin-end">
              </ion-radio>
              <ion-label>
                <h2>
                  Level {{ level.value }}
                  <ion-chip 
                    [color]="getLevelColor(level.value)"
                    class="ion-float-right ion-margin-start">
                    {{ level.value }}/7
                  </ion-chip>
                </h2>
                <p>{{ level.description }}</p>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-radio-group>
      </ion-card-content>
    </ion-card>

    <!-- Selected Level Summary -->
    <ion-card *ngIf="selectedSleepinessLevel">
      <ion-card-content>
        <h3>Selected: Level {{ selectedSleepinessLevel }}</h3>
        <p>{{ getSelectedLevelDescription() }}</p>
      </ion-card-content>
    </ion-card>

    <ion-button 
      expand="block" 
      size="large" 
      (click)="logSleepiness()"
      class="ion-margin-top">
      <ion-icon [icon]="sunnyOutline" slot="start"></ion-icon>
      Log Sleepiness Level
    </ion-button>

    <ion-alert
      [isOpen]="showAlert"
      header="Sleepiness Logging"
      [message]="alertMessage"
      [buttons]="['OK']"
      (didDismiss)="dismissAlert()">
    </ion-alert>
  </div>
</ion-content>
